.card-hover-block {
  .car-hover-item {
    .image {
      position: relative;
      overflow: hidden;
      height: 0;
      padding-bottom: 100%;
    }
    .img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .hover-info {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $dark;
      color: #fff;
      justify-content: center;
      top: 100%;
      left: 0;
      transition: all 200ms ease-in-out;
      opacity: 0;

      .icon {
        width: 100px;
      }
    }
    .list-info {
      list-style: none;
      padding: 0;

      > li {
        margin-top: 0.8rem;
        color: $green;
      }
    }

    &:hover {
      .hover-info {
        opacity: 1;
        top: 0;
      }
      .content:before {
        opacity: 1;
      }
    }
  }
  .title {
    font-size: 2.4rem;
    color: $dark;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .sub-title {
    font-size: 2rem;
    color: $green;
    margin: 0;
  }
  .content {
    position: relative;
    margin-top: 3.5rem;

    &:before {
      content: "";
      display: block;
      height: 0.4rem;
      width: 100%;
      background-color: $dark;
      left: 0;
      bottom: 100%;
      margin-bottom: 2.5rem;
      position: absolute;
      opacity: 0;
      transition: all 200ms ease-in-out;
    }
  }

  @include media-breakpoint-down(lg) {
    .row {
      > div + div {
        margin-top: 5rem;
      }
    }
  }
}