.full-image-content{
  display: inline-block;
  padding: 4.8rem;
  background: $pink;
  max-width: 51.2rem;
  h3, h2, h4{
    color: $green;
  }
  &__text{
    color: $white;
  }
  &.bg-salmon{
    h3, h2, h4{
      color: $body-color;
    }
    &__text{
      color: $white;
    }
  }
  &.bg-dush{
    h3, h2, h4{
      color: $green;
    }
    &__text{
      color: $white;
    }
  }
  &.bg-mint{
    h3, h2, h4{
      color: $body-color;
    }
    &__text{
      color: $white;
    }
  }
}
.full-image-block{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-left: $spacing-desktop;
  padding-right: $spacing-desktop;
  .full-image-content{
    display: inline-block;
    background: $pink;
    h2{
      font-size: 3.6rem;
    }
    h3, h4, h2{
      margin-bottom: 2rem;
    }
    &__text{
      color: $white;
      margin-bottom: 2rem;
    }
  }

  @include media-breakpoint-down(md){
    padding: 2rem;
    .full-image-content{
      text-align: center;
    }
  }
}

