.partner-block {
  //color: white;
  //background-color: $gray-900;
  background-size: 50% 100%;
  background-position: right center;
  position: relative;
  background-repeat: no-repeat;
  .sub-title {
    margin-bottom: 1.3rem;
  }
  .bg-image-img {
    opacity: 1;
  }

  .left {
    h3 {
      margin-bottom: 2.2rem;
    }
  }

  @include media-breakpoint-up(xl) {
    .left {
      padding-right: 6rem;
    }
  }

  @include media-breakpoint-up(lg) {
    .left + div {
      padding-left: $gutter-content-left;
    }
    &__text {
      max-width: 455px;
    }
    padding-top: 15rem;
    padding-bottom: 0rem;

  }
  @include media-breakpoint-between(lg,xl) {
    .left + div {
      padding-left: $gutter-content-left/2;
    }

  }
  @include media-breakpoint-down(lg) {

    .partner-block__text {
      margin-bottom: 3rem;
    }

    .container {
      position: relative;
    }
    .partner-brand{
      display: none;
    }
  }
}
.partners-item {
  position: relative;

  &__text {
    font-family: $headings-font-family;
    margin-bottom: 4.2rem;
  }
  &__author {
    font-size: 1.4rem;
    margin-bottom: 2.5rem;
  }
  &__info {
    font-size: 1.6rem;
    text-transform: uppercase;
  }
  &__text {
    font-size: 2.6rem;
  }
  @include media-breakpoint-up(lg) {
    padding-bottom: 16rem;
    //padding-left: $gutter-content-left;
    //max-width: 470px;
    &__text {
      font-size: 3rem;
    }
    &__bottom {
      max-width: 494px;
    }
  }

  @include media-breakpoint-between(lg,xl) {
    //padding-left: $gutter-content-left/2;
  }
}
.partner-info__item {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: all 1s ease-in-out;
  &.active {
    overflow: visible;
    opacity: 1;
    height: auto;
  }
}
.partner-nav {
  overflow-x: auto;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  .active {
    background: black;
    display: flex;

  }
  li {
    padding: 15px 10px;
    transition: all 0.5s ease-in-out;
    img {
      transition: all 0.2s ease-in-out;
    }
    & + li {
      margin-left: 10px;
    }
    &:hover img {
      opacity: 0.8;
    }
  }
  @include media-breakpoint-down(sm) {
    img {
      max-width: 50px;
    }
  }
}

.partner-nav-top {
  position: absolute;
  right: 0;
  top:0;
  img {
    max-height: 30px;
  }
  li {
    padding: 15px 10px;
   display: none;

  }
  .active {
    background: #f69024;
    display: block;
  }
}
