$icomoon-font-family: "Soft-Matter-Icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-trash: "\e90e";
$icon-cart: "\e90d";
$icon-shipping: "\e90c";
$icon-prev: "\e900";
$icon-next: "\e901";
$icon-chevron-up: "\e903";
$icon-chevron-down: "\e908";
$icon-twitter: "\e906";
$icon-linkedin: "\e907";
$icon-youtube: "\e902";
$icon-facebook: "\e905";
$icon-instagram: "\e909";
$icon-search: "\e904";
$icon-clear: "\e90b";
$icon-arrow-right: "\e90a";

